d8s-timer<1.0
d8s-lists<1.0
d8s-stats<1.0
d8s-dicts<1.0
d8s-timezones<1.0
d8s-dates<1.0
d8s-grammars<1.0
d8s-emails<1.0
d8s-utility<1.0
d8s-algorithms<1.0
d8s-asns<1.0
d8s-converters<1.0
d8s-math<1.0
d8s-xml<1.0
d8s-json<1.0
d8s-urls<1.0
d8s-yaml<1.0
d8s-archives<1.0
d8s-python<1.0
d8s-nlp<1.0
d8s-regexes<1.0
d8s-mpeg<1.0
d8s-pdfs<1.0
d8s-random<1.0
d8s-uuids<1.0
d8s-strings<1.0
d8s-toml<1.0
d8s-csv<1.0
d8s-domains<1.0
d8s-netstrings<1.0
d8s-networking<1.0
d8s-hashes<1.0
d8s-fun<1.0
d8s-html<1.0
d8s-hypothesis<1.0
d8s-user-agents<1.0
d8s-ip-addresses<1.0
d8s-file-system<1.0
